Flask
python-dotenv
cryptography
boto3
psycopg2-binary
Flask-Cors
confluent-kafka
gunicorn # Si lo usas con WSL/Linux
waitress # Si lo usas con Windows
celery # ¡NUEVA!
redis # ¡NUEVA! (para valkey client)